<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди как люди</title>
</head>
<body>
<div>

    <table>
        <tr>
            <th>Id</th>
            <th>ИМЯ</th>
            <th>ФАМИЛИЯ</th>
            <th>ВОЗРАСТ</th>
            <th>К</th>
        </tr>


        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">id</td>
            <td th:text="${user.getName()}">name</td>
            <td th:text="${user.getSurName()}">surName</td>
            <td th:text="${user.getAge()}">age</td>

            <td>
            <form th:action="@{{id}(id=${user.id})}" th:object="${users}">
                <button type="submit">IZMEMIT</button>
            </form>
            </td>

            <td>
                <form th:method="delete" th:action="@{/WEB-INF/views/users}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <button href ="/addnew" type="button">OLEH</button>
</div>
</body>
</html>